@media (min-width:425px){
  .wrapper{
    margin-top: 100px;
  }
}

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    font-size: 17px;
    font-weight: 400;
    color: #676a6c;
    overflow-x: hidden;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      -webkit-transform: translatey(-120px);
      -moz-transform: translatey(-120px);
      -o-transform: translatey(-120px);
      transform: translatey(-120px);
  }
  to {
      opacity: 1;
      -webkit-transform: translatey(0);
      -moz-transform: translatey(0);
      -o-transform: translatey(0);
      transform: translatey(0);
  }
}

.in-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
