<section id = "login-box">
    <div class="contiainer login-inner-box align-item-center">
        <div class="row">
            <div class="col-md-5 left-side">
                <div id="fmhacaLogo_login">
                   <img src="assets/images/FDRE.png"><br>
                    <p>FOOD, MEDICINE AND HEALTH CARE ADMINISTRATION AND CONTROL AUTHORITY OF ETHIOPIA</p><br>
                </div>
                <div class="login-sec">
                    <br/>
                    <form name="loginForm"  #loginForm="ngForm"
                        [formGroup]="form" 
                        class="m-t" role="form" 
                        (ngSubmit)="Authenticate(loginForm)"
                        >
                        <div class="form-group">
                            <input type="text"
                                class="form-control"
                                name="username" 
                                formControlName="userName"
                                id="userName"
                                placeholder="Username" 
                                [ngClass]="{'is-invalid': submitted && f.userName.errors}"   
                            >
                            <div class="invalid-feedback"  *ngIf="submitted && f.userName.errors">
                            <div class=" alert alert-danger" id="red">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <input type="password"
                                id="userPw"
                                formControlName="password" 
                                class="form-control" 
                                placeholder="Password"
                                [ngClass]="{'is-invalid': submitted && f.password.errors}"
                            

                            >
                            <div class="invalid-feedback"  *ngIf="submitted && f.password.errors"
                            >
                                <div *ngIf="f.password.errors.required" 
                                    class=" alert alert-danger" id="red">Password is required</div>
                                <div *ngIf="f.password.errors.minlength" 
                                    class=" alert alert-danger" id="red">Password must be atleast 6</div>
                            </div>         
                    </div>
                        <button  class="btn btn-success btn-block full-width m-b">Login</button> <br>
                    <p *ngIf="submitted && loginFailed" class="alert alert-danger" id="red">Incorrect username or password</p><br/>
                        <a routerLink="/home" routerLinkActive="active" ><small> Home</small></a><br/>
                        <a routerLink="/forgot" routerLinkActive="active"><small>Forgot password?</small></a>
                    </form>
                    <p class="m-t"> <small><strong>Version</strong>&nbsp;app_version</small> </p>

                </div>
            </div>
            <div class="col-md-7 side-section">
                <div id="fmhacaLogo_login">
                    <h4 class="text-center text-uppercase">Welcome to Food, Medicine and Health Care Administration and Control Authority of Ethiopia</h4>
                </div>
                <hr>
                
                <div class="media">
                    <div class="media-left media-middle">
                      <img src="../../../assets/images/patterns/iLicense.png" class="media-object" style="width:150px;">
                    </div>
                    <div class="media-body text-left">
                      
                      <p>iLicense is an online application that allows importers, exporters, 
                        wholesalers and manufacturers to apply for the certificate of competency and FMHACA staff to manage these applications online.</p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left media-middle">
                      <img src="../../../assets/images/patterns/iregister.png" class="media-object" style="width:150px;">
                    </div>
                    <div class="media-body text-left">
                      
                      <p> iRegister is an online application which allows importers to apply for and
                        receive medicine registration certificate to import medicines online and EFDA staff to manage these applications online.</p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left media-middle">
                      <img src="../../../assets/images/patterns/iImport.png" class="media-object" style="width:150px;">
                    </div>
                    <div class="media-body text-left">
                      
                      <p>iImport is an online application which allows importers to apply for and receive permits to import medicines online and 
                        EFDA staff to manage these applications online.</p>
                    </div>
                  </div>
              

          
            </div>
        </div>
    </div> 
</section>

