<html>
<head>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="middle-box text-center loginscreen  animated in-down" style="align-items:center">
    <!-- Logo-->
    <div id="fmhacaLogo_login">
        <img src="assets/images/FDRE.png">
        <p>FOOD, MEDICINE AND HEALTH CARE ADMINISTRATION AND CONTROL AUTHORITY OF ETHIOPIA</p>
    </div>
    <div>
        <h2>Welcome to iImport</h2>
        <br/>
        <form name="loginForm"  #loginForm="ngForm"
              [formGroup]="form" 
              class="m-t" role="form" 
              (ngSubmit)="Authenticate(loginForm)"
              >
            <div class="form-group">
                <input type="text"
                    class="form-control"
                    name="username" 
                    formControlName="userName"
                    id="userName"
                    placeholder="Username" 
                    [ngClass]="{'is-invalid': submitted && f.userName.errors}"
                    
                 >
                 <div class="invalid-feedback"  *ngIf="submitted && f.userName.errors">
                <div class=" alert alert-danger" id="red">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password"
                    id="userPw"
                    formControlName="password" 
                    class="form-control" 
                    placeholder="Password"
                    [ngClass]="{'is-invalid': submitted && f.password.errors}"
                   

                >
                <div class="invalid-feedback"  *ngIf="submitted && f.password.errors"
                >
                    <div *ngIf="f.password.errors.required" 
                        class=" alert alert-danger" id="red">Password is required</div>
                    <div *ngIf="f.password.errors.minlength" 
                        class=" alert alert-danger" id="red">Password must be atleast 6</div>
                </div>         
           </div>
            <button  class="btn btn-primary block full-width m-b">Login</button>
           <p *ngIf="submitted && loginFailed" class="alert alert-danger" id="red">Incorrect username or password</p>
            <a routerLink="/home" routerLinkActive="active"><small>Home</small></a><br/>
            <a routerLink="/forgot" routerLinkActive="active"><small>Forgot password?</small></a>
        </form>
        <p class="m-t"> <small><strong>Version</strong>&nbsp;app_version</small> </p>

    </div>
</div>
</body>
</html>
<router-outlet></router-outlet>
