#login-box{
  background-image: url(../../../assets/images/patterns/header-profile.png);
  background-size: cover;
  padding-top: 4%;
  padding-bottom: 9%; 
}
/* Login Section */
.login-inner-box{

  width:70%;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 0 6px #cecaca;
  border-radius: 5px;
 padding: 3rem;
  
  text-align: center;
  background-image: url(../../../assets/images/patterns/shattered.png);
 
  
}
 input[type="text"],input[type="password"]{
  border-radius:0px !important;
}
button{
  border-radius:15px;
}
#fmhacaLogo_login img{
  padding-top: 40px;
  height:75px;

}
img {
  vertical-align: middle;
}
#fmhacaLogo_login p,#fmhacaLogo_login h4{
  
  font-size:100%;
  padding: 6px 13px;

}

/* --Login Section-- */
/* Side Section */
.side-section{
  

 height: 100%;
 
}
.side-section hr{
  border: 1px solid #1ab394 ;
  border-radius: 3px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.left-side{
  background:#ffffff;
  height: 100%;
}

/* --Side Section-- */






/* 
.login-block{
  background:#1ab394;
  float:left;
  height: 100%;

}



h4{font-size:120%; color: #f1ecec }
.login-content{
  padding-top: 0px;
  padding-right: 80px;
  padding-bottom: 0px;
  padding-left: 80px;
}
.login-sec{
  background:#fafafa;
  padding: 50px 30px; 
  height: 100%;

}
.title-sec {
  background:#1ab394;
  color: #fafafa;
  padding: 70px 30px; 
  height: 100%;
}
  
  a{
    color: #337ab7;
  text-decoration: none;
  }
  #fmhacaLogo_login img{
      padding-top: 40px;
      height:150px;
      width:100px;
    }
    img {
      vertical-align: middle;
  }
    #fmhacaLogo_login p{
      
      font-size:100%;
      padding: 6px 13px;
    
    }
   
   .row{
      padding: 0;
      margin: 0;
      border-color: #fafafa;
      height: 100% !important;
  }
     
    
      .form-control {
        border: 0;
        border-bottom: 1px solid #a2a2a2;
        background:#fafafa; 
        font-size: 18px;
        color: #a4a4a4;
    }
    

    .btn-primary {
      background-color: #1ab394;
      border-color: #1ab394;
      color: #FFFFFF;
      border-radius: 1px;
      padding: 6px 12px;
      font-size: 14px;
      width: 100%;
      margin-bottom: 15px;
      display: block;
      margin-top: 10px;
  }
  
  @-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-120px);
        -moz-transform: translatey(-120px);
        -o-transform: translatey(-120px);
        transform: translatey(-120px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@-moz-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-120px);
        -moz-transform: translatey(-120px);
        -o-transform: translatey(-120px);
        transform: translatey(-120px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-120px);
        -moz-transform: translatey(-120px);
        -o-transform: translatey(-120px);
        transform: translatey(-120px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
#red{
  color: rgb(255, 160, 169);
  font-weight: 100;
}*/