<div class="topnav">
    <div class="container">
        <div id="fmhacaLogo" class="text-center">
            <img src="assets/images/FDRE.png" alt="logo">
            <span lang="am">የኢትዮጵያ የምግብ፣ የመድኃኒት እና የጤና ክብካቤ አስተዳደርና ቁጥጥር ባለስልጣን</span>
            <br>
            <span>Food, Medicine and Health Care Administration and Control Authority of Ethiopia</span>
        </div>
   <a routerLink="/login" routerLinkActive="active">LOGIN</a>
    <a routerLink="/contact-us" routerLinkActive="active">CONTACT US</a>
    <a routerLink="/about-us" routerLinkActive="active">ABOUT US</a>
    <a routerLink="/applicants" routerLinkActive="active">APPLICANTS</a>
    <div class="dropdown">
        <button class="dropbtn">PRODUCTION
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/registration" routerLinkActive="active">REGSTRATION</a>
          <a routerLink="/registered" routerLinkActive="active">REGISTERED</a>
          <a routerLink="/suspended" routerLinkActive="active">SUSPENDED</a>
          <a routerLink="/cancelled" routerLinkActive="active">CANCELLED</a>
          
        </div>
    </div>
    <a class="active" routerLink="/home" routerLinkActive="active">HOME</a>
  </div>
</div>
<div class=" wrapper wrapper-content animated fadeInRight container contact">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>
      </div>
      <table>
        <tr>
      
        <div class="row">
        <div class="col-md-6">
          <iframe width="900" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://www.google.com/maps/place/Food,+Medicine+and+Health+Care+Administration+and+Control+Authority+of+Ethiopia/@8.9966479,38.7698422,16.78z/data=!4m5!3m4!1s0x164b8453348c4d17:0xeab003f6bb8ee0a1!8m2!3d8.996509!4d38.7720431">

          </iframe>
        </div>
      
      
      
        <div class="col-md-6">
          <div class="row m-b-lg text-center">
            <strong><span class="navy">FMHACA</span></strong>
            <br/>
            <br/>
            <div class="col-lg-3 col-lg-offset-3">
              <address>
                Africa Avenue, near Wolosefer,<br/>
                Kirkos sub city, 02/03 kebelle,<br/>
                02 House number<br/>
              </address>
            </div>
            <div class="col-lg-4">
              <address>
                Tel: +251-115-524120/22,<br/>
                Fax: +251-115-52411392,<br/>
                Email: regulatory@fmhaca.gov.et
              </address>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <a href="mailto:regulatory@fmhaca.gov.et" class="btn btn-primary">Send us mail</a>
              <p class="m-t-sm">
                Or follow us on social platform
              </p>
              <ul class="list-inline social-icon">
                <li><a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
              <p>
                <strong>&copy; 2017
                  <a href="http://www.fmhaca.gov.et">fmhaca.gov.et</a>
                </strong>
                <br/>
                Food, Medicine and Health Care Administration and Control Authority of Ethiopia
              </p>
            </div>
          </div>
        </div>
        </div>
      
       
    </tr>
    </table>
    </div>
</div>
<script>
  $(document).ready(function () {
    $('.navbar-default').addClass('navbar-scroll')
  });
</script>